{% set current_location = 'server' %}

{% extends 'base.html.twig' %}

{% block title %}Modification Serveur{% endblock %}

{% block stylesheets %}

    <style>
        #form-server-create-container{
            margin: 5% 20% 5% 20% !important;
        }
    </style>

{% endblock %}

{% block body %}

    <div id="form-server-create-container">

        <h1 class="text-center">Modifier serveur</h1>

        {{ include('server/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="mt-3">
            {{ include('server/_delete_form.html.twig') }}
        </div>
    
    </div>

{% endblock %}
