{% extends 'base.html.twig' %}

{% block title %}Nouveau Serveur{% endblock %}

{% block stylesheets %}

    <style>
        #form-server-create-container{
            margin: 5% 20% 5% 20% !important;
        }
    </style>

{% endblock %}

{% block body %}

    <div id="form-server-create-container">

        <h1 class="text-center">Ajouter un nouveau serveur</h1>

        {{ include('server/_form.html.twig', {'button_label': 'Ajouter'}) }}
    
    </div>

{% endblock %}
